* { margin: 0;padding: 0;font-family: sans-serif;}

/* ============================================================================= */
/* Login */

.main { margin: 100px auto 0px auto;text-align: center;}
h2 { margin-bottom: 35px;font-size: 20px;}
#login {
    text-align: center;
    padding: 30px 50px 50px 50px;
    max-width: 300px;
    margin: auto;
    padding-bottom: 30px;
    border: 3px solid silver;
    border-radius: 10px;
}
#login label { float: left;margin-bottom: 10px;font-size: 13px;}
#login input {
    max-width: 276px;
    width: 276px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    border: 2px solid silver;
}
#submit {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    outline: none;
    width: 150px;
    border: 2px solid silver;
}
#login input:focus, #submit:focus { box-shadow: 0 0 3pt 2pt silver;}

/* ============================================================================= */
/* Projeto */

.proj {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    width: 300px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px 1px silver;
}
.content {
    margin-left: 220px;
    padding: 30px;
    padding-left: 45px;
    height: 100%;
}
p { margin-top: 5px;}

/* ============================================================================= */
/* Team*/

#users {
    table-layout: fixed;
    width: 600px;
    height: 30px;
}
#users th { padding-bottom: 20px;}
#users td {
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
    width: 200px;
    padding: 5px;
    border-bottom: 2px solid silver;
}


/* ============================================================================= */
/* Global */

#menu {
    box-shadow: 2px 2px 10px 1px silver;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: silver;
    list-style: none;
    padding: 50px 0 10px 0;
    background: linear-gradient(silver, white);
}
li { background-color: white;}
#menu li a:link { text-decoration: none;color: black;padding: 12px 20px;line-height: 40px;}
#menu li:hover { background-color: #B0E0E6;}
.active { background-color: #87CEFA;}
li#user {
    margin: auto;
    background: url('../img/user.png') no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    margin-bottom: 50px;
}
li#user:hover { background-color: transparent;}